.ResultMessage{
    position: fixed;
    left: 50%;
    margin-left: -250px;
    width: 500px;

    text-align: center;

    color: purple;
    font-weight: bolder;
    -webkit-text-stroke: 4px black;

    font-size: 100px;
    z-index: 2;
    
    animation-name: fadein;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    0% {
        top:80%;
        opacity: 0;
    }
    95% {
        top:10%;
        opacity: 1;
    }
    100% {
        top:10%;
        opacity: 0;
    }
}