.GameScore{
    background-color: #001F3F;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    top: 0px;
    left: 0px;

    position: absolute;
    width: 100%;
    height: 40px;
}

.TurnScore{
    display: flex;
    flex-direction: row;

    color:aliceblue;
    font-size: 35px;
}

.PlayerScore{
    color: aliceblue;
    font-size: 20px;
    width: 250px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.GameScore img{
    height: 40px;
    width: 40px;
}

#invisibleArrow{
    opacity: 0%;
}

#leftArrow{
    transform: rotate(180deg);
}