.WelcomeMsg{
    color: #001F3F;
    text-align: center;
    font-size: 100px;
    height: 150px;
    width:100%;
}

.IntroMsg{
    color: #3A6D8C;
    text-align: center;
    font-size: 30px;
    height: 175px;
    width:100%;
}

@media only screen and (max-width:1000px){
    .WelcomeMsg{
        font-size: 100px;
    }
    
    .IntroMsg{
        font-size: 25px;
    }
}

@media only screen and (max-width:550px){
    .WelcomeMsg{
        font-size: 80px;
    }
    
    .IntroMsg{
        font-size: 20px;
    }
}


@media only screen and (max-width:435px){
    .WelcomeMsg{
        font-size: 80px;
    }
    
    .IntroMsg{
        font-size: 18px;
    }
}

@media only screen and (max-width:380px){
    .WelcomeMsg{
        font-size: 80px;
    }
    
    .IntroMsg{
        font-size: 15px;
    }
}

@media only screen and (max-width:320px){
    .WelcomeMsg{
        font-size: 50px;
    }
    
    .IntroMsg{
        font-size: 10px;
        width: 100%;
    }
}