.AboutInfo{
    position: relative;

    left: 50%;
    top: 30px;
    
    margin-left: -250px;

    height: 700px;
    width: 500px;

    text-align: center;
}

.AboutSubTitle{
    color: #001F3F;
    font-size: 50px;
}

.AboutText{
    color: #3A6D8C;
    font-size:25px;
    text-indent: 50px;
    text-align: justify;
}

#GitHubLink{
    font-size: 40px;

    animation-name:blink;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
}
    
@keyframes blink{
    0%{color:#001F3F;}
    50%{color:#6A9AB0;}
    100%{color:#001F3F;}
}