body{
    background-color: #EAD8B1;
    font: menu;
}

.HomeDiv{
    position: relative;
    top: 20px;
}

.HomeDivBlur{   
    position: relative;
    top: 20px;

    filter: blur(3px);
}

.HomeButtons{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.divider{
    width: 10px;
}

.WelcomeMsg{
    color: #001F3F;
    text-align: center;
    font-size: 90px;
    height: 90px;
    width:100%;
}

.IntroMsg{
    color: #3A6D8C;
    text-align: center;
    font-size: 20px;
    height: 100px;
    width:100%;
}