.PopUpHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 100px;
   
    border-bottom: 3px solid aliceblue;
}

.Title{
    position: relative;
    bottom: 25px;

    color: aliceblue;
    font-size: 60px;
    
    text-align: left;
    
    width: 100%;
}

.CloseButton{
    font-size: 40px;
    height: 0px;
    width: 50px;
    
    position: relative;
    top: 0px;
        
    color: aliceblue;
    background-color: inherit;
    border: none;
}

.CloseButton:hover{
    cursor: pointer;
}