.PopUpHeader{
    display: flex;
    justify-content: space-between;

    border-bottom: 3px solid aliceblue;
}

.Title{
    padding: 10px;
    color: aliceblue;
    font-size: 60px;

    text-align: left;

    width: 100%;
}

.CloseButton{
    font-size: 60px;
    height: 0px;
    width: 50px;
    
    position: relative;
    top: 0;
    
    
    color: aliceblue;
    background-color: inherit;
    border: none;
}