#CreatePopUp{
    left: 50%;
    top: 50%;
    
    margin-left: -225px;
    margin-top: -250px;

    width: 450px;
    height: 500px;
}

#GameParamsBody{
    background-color: #6A9AB0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 15px;
    padding-right: 15px;

    height: 347px;

    border-bottom: 3px solid aliceblue;
}

.SubTitle{
    color: aliceblue;
    font-size: 30px;
    text-align: left;
}

.GetBoardParams{
    display: flex;
    flex-direction: column;
}

label{
    text-indent: 20px;
    padding: 2px;
}

.Params{
    color: aliceblue;

    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
    font-size: 25px;
}

.SelectBox{
    border: none;
    height: 30px;
    width: 50px;
    
    color: aliceblue;
    background-color: #001F3F;
    
    border-radius: 10px;

    text-align: center;
    font-size: 20px;

}

#ContinueCreate{
    position: absolute;
    bottom: 7px;
    right: 10px;
}