#CreatePopUp{
    left: 50%;
    top: 40%;
    
    margin-left: -250px;
    margin-top: -250px;

    height: 700px;
    width: 500px;
}

#GameParamsBody{
    background-color: #6A9AB0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 15px;
    padding-right: 15px;

    height: 73%;

    border-bottom: 3px solid aliceblue;
}

.SubTitle{
    color: aliceblue;
    font-size: 40px;
    text-align: left;
}

.GetBoardParams{
    display: flex;
    flex-direction: column;
}

label{
    text-indent: 40px;
}

.Params{
    color: aliceblue;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
    font-size: 30px;
}

.SelectBox{
    border: none;
    height: 40px;
    width: 50px;
    
    color: aliceblue;
    background-color: #001F3F;
    
    border-radius: 10px;

    text-align: center;
    font-size: 23px;
}

#ContinueCreate{
    position: absolute;
    bottom: 20px;
    right: 20px;
}